@model ProjectDemo12.Models.TourDetail

<div>
    <h4>TourDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd><hr/>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd><hr />
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd><hr />
        <dt>
            @Html.DisplayNameFor(model => model.DateContent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateContent)
        </dd><hr />
        <dt>
            @Html.DisplayNameFor(model => model.tbl_City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tbl_City.CityName)
        </dd><hr />
        <dt>
            @Html.DisplayNameFor(model => model.tbl_Tour)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tbl_Tour.Name)
        </dd><hr />
    </dl>
</div>
<div>
    <a class="btn btn-warning" asp-action="EditTourDetails" asp-route-id="@Model.ID">Edit</a> |
    <a class="btn btn-default" asp-action="Index">Back to List</a>
</div>
