@model ProjectDemo12.Models.Office

<div>
    <h4>Office</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IsOfficeMain)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsOfficeMain)
        </dd><hr />
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd><hr />
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd><hr />
        <dt>
            @Html.DisplayNameFor(model => model.Fax)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fax)
        </dd><hr />
        <dt>
            @Html.DisplayNameFor(model => model.Tel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tel)
        </dd><hr />
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd><hr />
        <dt>
            @Html.DisplayNameFor(model => model.tbl_City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tbl_City.CityName)
        </dd><hr />
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a class="btn btn-default" asp-action="Index">Back to List</a>
</div>
