@model ReflectionIT.Mvc.Paging.PagingList<ProjectDemo12.Models.Countries>
@addTagHelper *,ReflectionIT.Mvc.Paging
@using ReflectionIT.Mvc.Paging
@{
    ViewData["Title"] = "Index";
}

<h2>Country Page</h2>

<div class="row form-group">
    <a class="btn btn-info" asp-action="Create">Create new</a>
</div>

<form asp-action="Index" method="post">
    <div class="row input-group ">
        <input type="text" name="txtSearch" id="search" value="@ViewBag.SearchValue" class="form-control" placeholder="Search" />
        <div class="input-group-btn">
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
    </div>
</form>
@if (Model == null || Model.Count == 0)
{<h3 class="label-warning">No Record found!</h3> }
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CountryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Population)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Language)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MainReligion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OtherDetails)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CountryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Population)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Language)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MainReligion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OtherDetails)
                    </td>
                    <td>
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.CountryID">Edit</a>
                        <a class="btn btn-success" asp-action="Details" asp-route-id="@item.CountryID">Details</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.CountryID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
    <nav aria-label="Suppilers navigation example">
        <vc:pager paging-list="@Model" />
    </nav>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }