@model ReflectionIT.Mvc.Paging.PagingList<ProjectDemo12.Models.TourDetail>
    @addTagHelper *,ReflectionIT.Mvc.Paging
    @using ReflectionIT.Mvc.Paging
    @{
        ViewData["Title"] = "Index";
    }

    <h2>Tour Details Page</h2>

    <div class="row form-group">
        <a class="btn btn-info" asp-action="Create">Create new</a>
    </div>

    <form asp-action="Index" method="post">
        <div class="row input-group ">
            <input type="text" name="txtSearch" value="@ViewBag.SearchValue" id="search" class="form-control" placeholder="Search" />
            <div class="input-group-btn">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </div>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateContent)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateContent)
                    </td>
                    <td>
                        <div class="row form-group">
                            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                            <a class="btn btn-success" asp-action="Details" asp-route-id="@item.ID">Details</a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <nav aria-label="Suppilers navigation example">
        <vc:pager paging-list="@Model" />
    </nav>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
